---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---
<DefaultLayout title="Astro PWA">
    <main class="player">
		<div class="imgbox">
			<img class="portada" src="../web_reactiva_223.jpg" alt="Webreactiva #223">
		</div>
		<audio src="/public/audio/web_reactiva_223.mp3" controls></audio>
	</main>
</DefaultLayout>

